# Scraping with Pandas

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy import table, column

## Scraping from wiki sites

In [2]:
#We can use the `read_html` function in Pandas to automatically scrape any tabular data from a page.
#listing the urls for needed data
url1 = 'https://en.wikipedia.org/wiki/Animal_Crossing'
url2 = 'https://en.wikipedia.org/wiki/Characters_in_the_Animal_Crossing_series'
url3=  'https://animalcrossing.fandom.com/wiki/Category:Special_characters'

In [ ]:
#scraping the data from wiki/Animal_Crossing
tables = pd.read_html(url1)
tables

# What we get in return is a list of dataframes for any tabular data that Pandas found stored in tables dataframe
# pulling required data from the second index in the , 'tables'list
Sales_summary = tables[2]
Sales_summary.columns = ['version', 'year', 'units_sold', 'critic_score']

In [3]:
#We can slice off any of those dataframes that we want using normal indexing.
Sales_summary["units_sold"] = Sales_summary["units_sold"].str.split("[", n = 1, expand = True)[0]
Sales_summary["critic_score"] = Sales_summary["critic_score"].str.split("/", n = 1, expand = True)[0]
Sales_summary.head()

                         version  year units_sold critic_score
0                Animal Crossing  2001       2.32           87
1    Animal Crossing: Wild World  2005      11.75           86
2     Animal Crossing: City Folk  2008       3.38           73
3      Animal Crossing: New Leaf  2012      12.45           88
4  Animal Crossing: New Horizons  2020      13.41           90

In [20]:
#scraping the data from 'https://en.wikipedia.org/wiki/Characters_in_the_Animal_Crossing_series'
tables1 = pd.read_html(url2)
tables1

#Extracting and storing the required data froms tables1
Animal_Forest = tables1[0]
Wild_World = tables1[1]
City_Folk = tables1[2]
New_Leaf = tables1[3]
New_Horizons = tables1[4]

#Naming the columns for each dataframe
Animal_Forest.columns = ['characters', 'original_Name', 'species', 'description']
Wild_World.columns =['characters', 'original_Name', 'species', 'description']
City_Folk.columns = ['characters', 'original_Name', 'species', 'description']
New_Leaf.columns = ['characters', 'original_Name', 'species', 'description']
New_Horizons.columns = ['characters', 'original_Name', 'species', 'description']



# #extracting required columns from each dataframe
Animal_Forest['version']='Animal_Forest'
Wild_World['version']='Wild_World'
City_Folk['version']='City_Folk'
New_Leaf['version']='New_Leaf'
New_Horizons['version']='New_Horizons'



# #creating a new dataframe characters from the extracted columns
characters=pd.concat([Animal_Forest, Wild_World,City_Folk,New_Leaf,New_Horizons]).drop_duplicates()
characters= characters[['characters','version', 'species', 'description']]
characters = characters.dropna()
characters_df=characters.set_index('characters')

characters_df1=characters[['characters']]

characters_df.to_csv('characters.csv')
characters_df.head()

,version,species,description
characters,,,
Alfonso,Animal_Forest,Alligator,A lazy villager. Also appears in the 2006 film...
Apollo,Animal_Forest,Eagle,A grumpy villager. Also appears in the 2006 fi...
Blanca,Animal_Forest,Cat,A faceless cat who the player to draw their fa...
Blathers,Animal_Forest,Owl,Operates the museum. Brother to Celeste.
Booker,Animal_Forest,Dog (bulldog),Works as a police officer in Animal Crossing a...

In [33]:
#scraping the data from https://animalcrossing.fandom.com/wiki/Category:Special_characters
tables = pd.read_html(url3)
Special_Character = tables[0]

Special_Character.columns = ['characters', 'Image.', 'Species', 'Birthday','service']
Special_Character=Special_Character[['characters',  'Species', 'Birthday','service']]
Special_Character=pd.merge(characters_df,Special_Character, on='characters', how='inner')
Special_Character=Special_Character[['characters',  'Species', 'Birthday','service']]
Special_Character.to_csv('Special_Character.csv')
Special_Character

,characters,Species,Birthday,service
0,Blanca,Cat,February 8th,"April Fools Day Host (NL) Town Visitor (AF, AC..."
1,Blathers,Owl,September 24th,"Museum Curator (AF, AC, WW, CF, NL, NH)"
2,Booker,Dog (Bulldog),April 23rd,"Police Station Officer (AC, NL) Gate Guard (WW..."
3,Chip,Beaver,December 9th,"Fishing Tourney Host (AF, AC, CF, NL)"
4,Copper,Dog (Akita),June 28th,"Police Station Officer (AC, NL) Gate Guard (WW..."
5,Don Resetti,Mole,May 1st,"Reset Surveillance Center Lecturer (AF, AC, CF..."
6,Farley,Unknown,August 31st,Fountain Gnome (AC)
7,Franklin,Turkey,October 10th,"Harvest Festival Host (AC, CF, NL)"
8,Gracie,Giraffe,November 14th,GracieGrace Owner (CF) T&T Emporium Shopkeeper...
9,Gulliver,Seagull,May 25th,"Town Visitor (Sailor) (AF, AC, NL, NH) Town Vi..."
10,Jack,Unknown,October 31st,"Halloween Host (Czar) (AF, AC, CF, NL, NH)"
11,Jingle,Reindeer,December 24th,"Toy Day Host (AF, AC, CF, NL, NH)"
12,Joan,Boar,January 8th,"Turnip Salesperson (AF, AC, WW, CF, NL)"
13,K.K. Slider,Dog (Jack Russell),August 23rd,"Musician (AF, AC, WW, CF, NL, NH)"
14,Kapp'n,Turtle,July 12th,"Sailor (AF, AC, WW, CF, NL)"
15,Katrina,Panther,October 28th,"Fortune Teller (AF, AC, WW, CF, NL)"
16,Mabel,Hedgehog,May 22nd,"Able Sisters Shopkeeper (AF, AC, WW, CF, NL, NH)"
17,Pelly,Pelican,March 19th,"Post Office Day shift Clerk (AF, AC, NL) Town ..."
18,Pete,Pelican,March 8th,"Post Office Carrier (AF, AC, WW, CF, NL)"
19,Phyllis,Pelican,November 21st,"Post Office Night shift Clerk (AF, AC, NL) Tow..."
20,Porter,Monkey,April 17th,"Train Station Clerk (AF, AC, NL)"
21,Redd,Fox,October 18th,"Crazy Redd's Shopkeeper (AF, AC, WW, CF, NL) ..."
22,Rover,Cat,February 1st,"Character Creation Guide (AF, AC, CF, NL) Tag ..."
23,Sable,Hedgehog,November 22nd,"Able Sisters Seamer (AF, AC, WW, CF, NL, NH)"
24,Saharah,Camel,November 10th,"Town Visitor (AF, AC, WW, CF, NL, NH)"
25,Tom Nook,Raccoon,May 30th,"Tom Nook's Store Shopkeeper (AF, AC, WW, CF) N..."
26,Tortimer,Tortoise,May 30th,"Mayor (AF, AC, WW, CF) Animal Island Games Dir..."
27,Wendell,Walrus,May 30th,"Town Visitor (AF, AC, WW, CF) Dream Visitor (NL)"
28,Wisp,Spirit,May 30th,"Town Visitor (AF, AC, NH) Lamp Genie (CF, NL)"
29,Brewster,Pigeon,October 15th,"The Roost Shopkeeper (WW, CF, NL, NH) Gyroid ..."
30,Celeste,Owl,September 7th,"Museum Observatory Operator (WW, CF) Museum Gi..."
31,Dr. Shrunk,Axolotl,January 2nd,"Emotions Psychologist (WW, CF, NL) Club LOL Ow..."
32,Harriet,Dog (Poodle),January 31st,"Shampoodle Shopkeeper (WW, CF, NL)"
33,Kaitlin,Cat,June 3rd,"Town Visitor (WW, CF)"
34,Katie,Cat (Kitten),October 22nd,"Town Visitor (WW, CF, NL)"
35,Lyle,Otter,June 6th,"Happy Home Academy Agent (CF, NL) Insurance Sa..."
36,Pascal,Otter,July 19th,"Town Visitor (WW, CF, NL)"
37,Frillard,Frill-Necked Lizard,June 22nd,Emotions Lecturer (CF)
38,Kicks,Skunk,November 30th,"Kicks (store) Shopkeeper (CF, NL, NH) Town Vis..."
39,Lloid,Gyroid,August 28th,"Construction Foreman (NL, NH) Auction House Au..."
40,Nat,Chameleon,July 25th,"Bug-Off Host (CF, NL)"
41,Pavé,Peacock,March 3rd,"Festivale Host (CF, NL)"
42,Phineas,Sea Lion,June 20th,Town Visitor (NL) City Visitor (CF)
43,Serena,Dog (Chihuahua),March 18th,Fountain Goddess (CF)
44,Zipper T. Bunny,Rabbit,March 11th,"Bunny Day Host (CF, NL, NH)"
45,Cyrus,Alpaca,January 26th,"Re-Tail Furniture Customizer (NL, PC)"
46,Digby,Dog (Shih Tzu),December 20th,Happy Home Academy Showcase Host (NL)
47,Grams,Turtle,April 15th,Animal Island Shopkeeper (NL)
48,Harvey,Dog (Spaniel),August 2nd,Campground Operator (NL)Photopia Islander (NH)
49,Isabelle,Dog (Shih Tzu),December 20th,Town Hall Secretary (NL) Resident Services Cle...
50,Leif,Sloth,August 8th,Gardening Store Shopkeeper (NL)Nature Day Host...
51,Leila,Turtle,August 16th,Animal Island Shopkeeper (NL)
52,Leilani,Turtle,September 26th,Animal Island Shopkeeper (NL)
53,Luna,Tapir,February 29th,Dream Suite Operator (NL)
54,Reese,Alpaca,July 5th,Re-Tail Shopkeeper (NL)
55,C.J.,Beaver,March 7th,Fishing Tourney Host (NH)
56,Daisy Mae,Boar,NaN,Turnip Salesperson (NH)
57,Flick,Chameleon,May 10,Bug-Off Host (NH)
58,Orville,Dodo,NaN,Dodo Airlines Clerk (NH)
59,Wilbur,Dodo,NaN,Dodo Airlines Pilot (NH)

### Sourcing the data from kaggle.com

In [6]:
#loading critic_review
csv_file = "Resources/critic.csv"
critic_df = pd.read_csv(csv_file)
critic_df

,grade,publication,text,date
0,100,Pocket Gamer UK,"Animal Crossing; New Horizons, much like its p...",3/16/2020
1,100,Forbes,Know that if you’re overwhelmed with the world...,3/16/2020
2,100,Telegraph,"With a game this broad and lengthy, there’s mo...",3/16/2020
3,100,VG247,Animal Crossing: New Horizons is everything I ...,3/16/2020
4,100,Nintendo Insider,"Above all else, Animal Crossing: New Horizons ...",3/16/2020
...,...,...,...,...
102,90,Impulsegamer,Animal Crossing New Horizons is pure fun and p...,4/16/2020
103,90,PLAY! Zine,Animal Crossing: New Horizons is a definitive ...,4/17/2020
104,95,GameGrin,New Horizons is simply the best Animal Crossin...,4/22/2020
105,90,NF Magazine,I can't wait to see what the future will hold....,5/1/2020
106,80,PCMag,Animal Crossing: New Horizons brings the most ...,5/1/2020

In [7]:
#checking the dataframe headers
critic_df

,grade,publication,text,date
0,100,Pocket Gamer UK,"Animal Crossing; New Horizons, much like its p...",3/16/2020
1,100,Forbes,Know that if you’re overwhelmed with the world...,3/16/2020
2,100,Telegraph,"With a game this broad and lengthy, there’s mo...",3/16/2020
3,100,VG247,Animal Crossing: New Horizons is everything I ...,3/16/2020
4,100,Nintendo Insider,"Above all else, Animal Crossing: New Horizons ...",3/16/2020
...,...,...,...,...
102,90,Impulsegamer,Animal Crossing New Horizons is pure fun and p...,4/16/2020
103,90,PLAY! Zine,Animal Crossing: New Horizons is a definitive ...,4/17/2020
104,95,GameGrin,New Horizons is simply the best Animal Crossin...,4/22/2020
105,90,NF Magazine,I can't wait to see what the future will hold....,5/1/2020
106,80,PCMag,Animal Crossing: New Horizons brings the most ...,5/1/2020

In [8]:
#creating new dataframe with required columns
new_critic_df = critic_df[['grade', 'publication', 'date']].copy()
new_crtic_df = new_critic_df.drop_duplicates()
new_critic_df

     grade       publication       date
0      100   Pocket Gamer UK  3/16/2020
1      100            Forbes  3/16/2020
2      100         Telegraph  3/16/2020
3      100             VG247  3/16/2020
4      100  Nintendo Insider  3/16/2020
..     ...               ...        ...
102     90      Impulsegamer  4/16/2020
103     90        PLAY! Zine  4/17/2020
104     95          GameGrin  4/22/2020
105     90       NF Magazine   5/1/2020
106     80             PCMag   5/1/2020

[107 rows x 3 columns]

In [9]:
#loading items
csv_file = "Resources/items.csv"
items_df = pd.read_csv(csv_file)
items_df.head()
len(items_df)

new_items_df = items_df[['num_id', 'name', 'category', 'sell_value', 'sell_currency', 'buy_value', 'buy_currency']].copy()
new_items_df.drop_duplicates(inplace=True)

new_items_df = new_items_df.dropna()
new_items_df

,num_id,name,category,sell_value,sell_currency,buy_value,buy_currency
0,12,3D Glasses,Accessories,122.0,bells,490.0,bells
1,14,A Tee,Tops,140.0,bells,560.0,bells
2,17,Abstract Wall,Wallpaper,390.0,bells,1560.0,bells
3,19,Academy Uniform,Dresses,520.0,bells,2080.0,bells
5,21,Accessories Stand,Furniture,375.0,bells,1500.0,bells
...,...,...,...,...,...,...,...
4560,7425,Zigzag Shirt,Tops,240.0,bells,960.0,bells
4561,7428,Zipper's Poster,Photos,250.0,bells,1000.0,bells
4562,7441,Zori,Shoes,1075.0,bells,4300.0,bells
4563,7442,Zucker's Photo,Photos,10.0,bells,40.0,bells
4564,7443,Zucker's Poster,Photos,250.0,bells,1000.0,bells

In [51]:
#read user review file and load it into datframe
file = "Resources/user_reviews.csv"
user_df = pd.read_csv(file)
user_df

#identifying incomplete rows
user_df.count()

##output for df count shows that there are no rows with null values

#Clean the user_review dataframe and keeping required columns
#drop the user_name column and any duplicate records
user_review_df=user_df[['grade', 'text', 'date']].copy()
user_review_df.drop_duplicates(inplace=True)
user_review_df

      grade                                               text       date
0         4  My gf started playing before me. No option to ...  3/20/2020
1         5  While the game itself is great, really relaxin...  3/20/2020
2         0  My wife and I were looking forward to playing ...  3/20/2020
3         0  We need equal values and opportunities for all...  3/20/2020
4         0  BEWARE!  If you have multiple people in your h...  3/20/2020
...     ...                                                ...        ...
2994      1  1 Island for console limitation.I cannot play ...   5/3/2020
2995      1  Per giocare con figli o fidanzate, mogli o per...   5/3/2020
2996      0  One island per console is a pathetic limitatio...   5/3/2020
2997      2  Even though it seems like a great game with ma...   5/3/2020
2998      4  Game is fantastic.Nintendo deciding that you c...   5/3/2020

[2999 rows x 3 columns]

In [69]:
#read villagers file and load it into datframe
file = "Resources/villagers.csv"
villagers_df = pd.read_csv(file)
villagers_df

#identifying incomplete rows
villagers_df.count()

##above result shows that song and id columns have null values
#drop the rows with null values
villagers_df.dropna(inplace=True)
villagers_df.count()

#drop duplicates
villagers_df.drop_duplicates(inplace = True)
villagers_df.count()

villagers_df.head(10)

#Clean dataframe
villagers_data_df=villagers_df[['name','gender','species', 'birthday', 'personality', 'song', 'phrase']].copy()
villagers_data_df.rename(columns={'name': 'characters'}, inplace=True)
villagers_data_df=pd.merge(characters_df,villagers_data_df, on='characters', how='inner')
villagers_merged_df=villagers_data_df[['characters','gender','species_x', 'birthday', 'personality', 'song', 'phrase']].copy()
villagers_merged_df=villagers_merged_df.rename(columns={'species_x': 'species'})
villagers_merged_df
villagers_merged_df.to_csv('villagers_merged_df.csv')

In [70]:
#establish connecting with postgres database
rds_connection_string = "postgres:Shri@123@localhost:5432/animal_crossing_db"

engine = create_engine(f'postgresql://{rds_connection_string}')

In [71]:
characters_df.to_sql(name='characters', con=engine, if_exists='append', index=True)

In [72]:
Special_Character.to_sql(name='special_character', con=engine, if_exists='append', index=False)

In [73]:
Sales_summary.to_sql(name='sales_summary', con=engine, if_exists='append', index=False)

In [74]:
new_critic_df.to_sql(name='critic_review', con=engine, if_exists='append', index=False)

In [75]:
user_review_df.to_sql(name='user_reviews', con=engine, if_exists='append', index=False)

In [76]:
villagers_merged_df.to_sql(name='villagers', con=engine, if_exists='append', index=False)

In [77]:
new_items_df.to_sql(name='items', con=engine, if_exists='append', index=False)

In [78]:
engine.table_names()

['critic_review',
 'characters_1',
 'sales_summary',
 'villagers',
 'user_reviews',
 'items',
 'characters',
 'special_character',
 'special_characters']

In [79]:
pd.read_sql_query('select * from sales_summary', con=engine).head(10)
pd.read_sql_query('select * from characters', con=engine).head()
pd.read_sql_query('select * from special_character', con=engine).head()
pd.read_sql_query('select * from villagers', con=engine).head()
pd.read_sql_query('select * from characters', con=engine).head()
pd.read_sql_query('select * from critic_review', con=engine)

          publication  grade       date
0     Pocket Gamer UK    100  3/16/2020
1              Forbes    100  3/16/2020
2           Telegraph    100  3/16/2020
3               VG247    100  3/16/2020
4    Nintendo Insider    100  3/16/2020
..                ...    ...        ...
102      Impulsegamer     90  4/16/2020
103        PLAY! Zine     90  4/17/2020
104          GameGrin     95  4/22/2020
105       NF Magazine     90   5/1/2020
106             PCMag     80   5/1/2020

[107 rows x 3 columns]

In [97]:
q='select version,characters_name,description,"Species","Birthday",service from (select characters as characters_name ,"Species", "Birthday",service from  special_character a ) a  join characters b on a.characters_name=b.characters'
pd.read_sql_query(q , con=engine)

,version,characters_name,description,Species,Birthday,service
0,Animal_Forest,Blanca,A faceless cat who the player to draw their fa...,Cat,February 8th,"April Fools Day Host (NL) Town Visitor (AF, AC..."
1,Animal_Forest,Blathers,Operates the museum. Brother to Celeste.,Owl,September 24th,"Museum Curator (AF, AC, WW, CF, NL, NH)"
2,Animal_Forest,Booker,Works as a police officer in Animal Crossing a...,Dog (Bulldog),April 23rd,"Police Station Officer (AC, NL) Gate Guard (WW..."
3,Animal_Forest,Chip,Hosts the Fishing Tourney in all series titles...,Beaver,December 9th,"Fishing Tourney Host (AF, AC, CF, NL)"
4,Animal_Forest,Copper,Works as a police officer in Animal Crossing a...,Dog (Akita),June 28th,"Police Station Officer (AC, NL) Gate Guard (WW..."
5,Animal_Forest,Don Resetti,Lectures the player if they reset their game. ...,Mole,May 1st,"Reset Surveillance Center Lecturer (AF, AC, CF..."
6,Animal_Forest,Farley,A spirit who lives inside the town fountain.,Unknown,August 31st,Fountain Gnome (AC)
7,Animal_Forest,Franklin,Hosts the Harvest Festival.,Turkey,October 10th,"Harvest Festival Host (AC, CF, NL)"
8,Animal_Forest,Gracie,A fashion designer.,Giraffe,November 14th,GracieGrace Owner (CF) T&T Emporium Shopkeeper...
9,Animal_Forest,Gulliver,"Appears as a marooned sailor Animal Crossing, ...",Seagull,May 25th,"Town Visitor (Sailor) (AF, AC, NL, NH) Town Vi..."
10,Animal_Forest,Jack,A pumpkin-headed character who hosts Halloween.,Unknown,October 31st,"Halloween Host (Czar) (AF, AC, CF, NL, NH)"
11,Animal_Forest,Jingle,Hosts Toy Day.,Reindeer,December 24th,"Toy Day Host (AF, AC, CF, NL, NH)"
12,Animal_Forest,Joan,"Sells turnips on the ""stalk market"".",Boar,January 8th,"Turnip Salesperson (AF, AC, WW, CF, NL)"
13,Animal_Forest,K.K. Slider,A traveling musician and DJ.,Dog (Jack Russell),August 23rd,"Musician (AF, AC, WW, CF, NL, NH)"
14,Animal_Forest,Kapp'n,A driver who has alternately operated a row bo...,Turtle,July 12th,"Sailor (AF, AC, WW, CF, NL)"
15,Animal_Forest,Katrina,A fortune teller.,Panther,October 28th,"Fortune Teller (AF, AC, WW, CF, NL)"
16,Animal_Forest,Mabel,Co-owner of the Able Sisters tailor shop. Sist...,Hedgehog,May 22nd,"Able Sisters Shopkeeper (AF, AC, WW, CF, NL, NH)"
17,Animal_Forest,Pelly,Works the day shift at the post office in Anim...,Pelican,March 19th,"Post Office Day shift Clerk (AF, AC, NL) Town ..."
18,Animal_Forest,Pete,A mail carrier.,Pelican,March 8th,"Post Office Carrier (AF, AC, WW, CF, NL)"
19,Animal_Forest,Phyllis,Works the night shift at the post office in An...,Pelican,November 21st,"Post Office Night shift Clerk (AF, AC, NL) Tow..."
20,Animal_Forest,Porter,Operates the train station.,Monkey,April 17th,"Train Station Clerk (AF, AC, NL)"
21,Animal_Forest,Redd,Operates a black market goods store. Also know...,Fox,October 18th,"Crazy Redd's Shopkeeper (AF, AC, WW, CF, NL) ..."
22,Animal_Forest,Rover,A cat who assists the player in setting up the...,Cat,February 1st,"Character Creation Guide (AF, AC, CF, NL) Tag ..."
23,Animal_Forest,Sable,Co-owner of the Able Sisters tailor shop. Sist...,Hedgehog,November 22nd,"Able Sisters Seamer (AF, AC, WW, CF, NL, NH)"
24,Animal_Forest,Saharah,A traveling rug and carpet seller.,Camel,November 10th,"Town Visitor (AF, AC, WW, CF, NL, NH)"
25,Animal_Forest,Tom Nook,A businessman who manages the town shop and th...,Raccoon,May 30th,"Tom Nook's Store Shopkeeper (AF, AC, WW, CF) N..."
26,Animal_Forest,Tortimer,The mayor of the town. Retires to live on a tr...,Tortoise,May 30th,"Mayor (AF, AC, WW, CF) Animal Island Games Dir..."
27,Animal_Forest,Wendell,A traveling artist and designer.,Walrus,May 30th,"Town Visitor (AF, AC, WW, CF) Dream Visitor (NL)"
28,Animal_Forest,Wisp,A spirit who provides the player with rare items.,Spirit,May 30th,"Town Visitor (AF, AC, NH) Lamp Genie (CF, NL)"
29,Wild_World,Brewster,"Operates The Roost, a coffee shop.",Pigeon,October 15th,"The Roost Shopkeeper (WW, CF, NL, NH) Gyroid ..."
30,Wild_World,Celeste,Works at the museum observatory. Sister to Bla...,Owl,September 7th,"Museum Observatory Operator (WW, CF) Museum Gi..."
31,Wild_World,Dr. Shrunk,Teaches the player emotes.,Axolotl,January 2nd,"Emotions Psychologist (WW, CF, NL) Club LOL Ow..."
32,Wild_World,Harriet,"Operates Shampoodle, a barber shop.",Dog (Poodle),January 31st,"Shampoodle Shopkeeper (WW, CF, NL)"
33,Wild_World,Kaitlin,Mother to Katie.,Cat,June 3rd,"Town Visitor (WW, CF)"
34,Wild_World,Katie,A kitten who asks the player to reunite her wi...,Cat (Kitten),October 22nd,"Town Visitor (WW, CF, NL)"
35,Wild_World,Lyle,A businessman who alternately works as an insu...,Otter,June 6th,"Happy Home Academy Agent (CF, NL) Insurance Sa..."
36,Wild_World,Pascal,A traveling philosopher.,Otter,July 19th,"Town Visitor (WW, CF, NL)"
37,City_Folk,Frillard,Teaches the player emotes.,Frill-Necked Lizard,June 22nd,Emotions Lecturer (CF)
38,City_Folk,Kicks,A shoeshiner and shoe salesman.,Skunk,November 30th,"Kicks (store) Shopkeeper (CF, NL, NH) Town Vis..."
39,City_Folk,Lloid,"Operates the auction house in City Folk, and w...",Gyroid,August 28th,"Construction Foreman (NL, NH) Auction House Au..."
40,City_Folk,Nat,Hosts the Bug-Off in City Folk and New Leaf.,Chameleon,July 25th,"Bug-Off Host (CF, NL)"
41,City_Folk,Pavé,Hosts Festivale.,Peacock,March 3rd,"Festivale Host (CF, NL)"
42,City_Folk,Phineas,Rewards the player with gifts and merit badges.,Sea Lion,June 20th,Town Visitor (NL) City Visitor (CF)
43,City_Folk,Serena,A goddess who lives inside the city fountain.,Dog (Chihuahua),March 18th,Fountain Goddess (CF)
44,City_Folk,Zipper T. Bunny,Hosts Bunny Day.,Rabbit,March 11th,"Bunny Day Host (CF, NL, NH)"
45,New_Leaf,Cyrus,"Works at Re-Tail, a refurbishment shop. Husban...",Alpaca,January 26th,"Re-Tail Furniture Customizer (NL, PC)"
46,New_Leaf,Digby,Works at the Happy Home Showcase. Twin brother...,Dog (Shih Tzu),December 20th,Happy Home Academy Showcase Host (NL)
47,New_Leaf,Grams,"Mother to Kapp'n, mother-in-law to Leilani, an...",Turtle,April 15th,Animal Island Shopkeeper (NL)
48,New_Leaf,Harvey,A hippie. Operates the campground in New Leaf ...,Dog (Spaniel),August 2nd,Campground Operator (NL)Photopia Islander (NH)
49,New_Leaf,Isabelle,A secretary and assistant. Twin sister to Digby.,Dog (Shih Tzu),December 20th,Town Hall Secretary (NL) Resident Services Cle...
50,New_Leaf,Leif,Operates the gardening store.,Sloth,August 8th,Gardening Store Shopkeeper (NL)Nature Day Host...
51,New_Leaf,Leila,"Daughter to Kapp'n and Leilani, and granddaugh...",Turtle,August 16th,Animal Island Shopkeeper (NL)
52,New_Leaf,Leilani,"Wife to Kapp'n, mother to Leilani, and daughte...",Turtle,September 26th,Animal Island Shopkeeper (NL)
53,New_Leaf,Luna,Operates the Dream Suite.,Tapir,February 29th,Dream Suite Operator (NL)
54,New_Leaf,Reese,"Works at Re-Tail, a refurbishment shop. Wife t...",Alpaca,July 5th,Re-Tail Shopkeeper (NL)
55,New_Horizons,C.J.,"Hosts the Fishing Tourney. Son of Chip, and ro...",Beaver,March 7th,Fishing Tourney Host (NH)
56,New_Horizons,Daisy Mae,Sells turnips. Granddaughter of Joan.,Boar,None,Turnip Salesperson (NH)
57,New_Horizons,Flick,Hosts the Bug-Off. Roommate and business partn...,Chameleon,May 10,Bug-Off Host (NH)
58,New_Horizons,Orville,Works as the receptionist for Dodo Airlines. B...,Dodo,None,Dodo Airlines Clerk (NH)
59,New_Horizons,Wilbur,Works as the pilot for Dodo Airlines. Brother ...,Dodo,None,Dodo Airlines Pilot (NH)

In [98]:
q1='select "version",characters_name,a.species,personality,phrase,song,birthday from  (select "characters" as characters_name ,"species", "personality",song, phrase,birthday from  villagers) a  join characters b on a.characters_name=b.characters'

pd.read_sql_query(q1,con=engine)

,version,characters_name,species,personality,phrase,song,birthday
0,Animal_Forest,Alfonso,Alligator,lazy,it'sa me,Forest Life,9-Jun
1,Animal_Forest,Apollo,Eagle,cranky,pah,K.K. Rock,4-Jul
2,Animal_Forest,Cesar,Gorilla,cranky,Highness,K.K. Lament,6-Sep
3,Animal_Forest,Cyrano,Anteater,cranky,ah-CHOO,K.K. Faire,9-Mar
4,Animal_Forest,Hopper,Penguin,cranky,slushie,Lucky K.K.,6-Apr
5,Animal_Forest,Margie,Elephant,normal,tootie,K.K. Bossa,28-Jan
6,Animal_Forest,Rosie,Cat,peppy,silly,Bubblegum K.K.,27-Feb
7,Wild_World,Whitney,Wolf,snooty,snappy,Lucky K.K.,17-Sep

In [101]:
q3='select (sum(distinct grade )/count(distinct grade)) as critic_score_from_kaggle from critic_review union all select avg(critic_score) as critic_score_from_Wiki from sales_summary' 
pd.read_sql_query(q3,con=engine)

   critic_score_from_kaggle
0                      88.0
1                      84.8