In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "Resources/critic.csv"
critic_df = pd.read_csv(csv_file)
critic_df.head()

,grade,publication,text,date
0,100,Pocket Gamer UK,"Animal Crossing; New Horizons, much like its p...",3/16/2020
1,100,Forbes,Know that if you’re overwhelmed with the world...,3/16/2020
2,100,Telegraph,"With a game this broad and lengthy, there’s mo...",3/16/2020
3,100,VG247,Animal Crossing: New Horizons is everything I ...,3/16/2020
4,100,Nintendo Insider,"Above all else, Animal Crossing: New Horizons ...",3/16/2020

In [12]:
new_critic_df = critic_df[['grade', 'publication', 'date']].copy()
new_critic_df.drop_duplicates(inplace=True)
new_critic_df.set_index('')
new_critic_df.head()

   grade       publication       date
0    100   Pocket Gamer UK  3/16/2020
1    100            Forbes  3/16/2020
2    100         Telegraph  3/16/2020
3    100             VG247  3/16/2020
4    100  Nintendo Insider  3/16/2020

['critics']